In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [54]:
df = pd.read_csv('../data/Bengaluru_House_Data.csv')
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

## Basic info and summary

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [56]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [57]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

### Check unique values and data overview

In [58]:
for col in df.columns:
    print(f"{col}: {df[col].nunique()} unique values")

area_type: 4 unique values
availability: 81 unique values
location: 1305 unique values
size: 31 unique values
society: 2688 unique values
total_sqft: 2117 unique values
bath: 19 unique values
balcony: 4 unique values
price: 1994 unique values

## Drop unnecessary columns

Some columns are not useful for prediction, we can drop these columns.

In [59]:
df = df.drop(['area_type', 'availability', 'society'], axis=1)
df.head()

                   location       size total_sqft  bath  balcony   price
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00

## Handle missing values

In [60]:
df = df.dropna()
df.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

## Feature cleanup

Let's Convert “size” column (e.g., “2 BHK”) into a numeric column.

In [61]:
df['bhk'] = df['size'].apply(lambda x: int(x.split(' ')[0]))
df.head()

                   location       size total_sqft  bath  balcony   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00    2

Also converting “total_sqft” into numeric since some rows have ranged values.

In [62]:
def convert_sqft_to_num(x):
    try:
        tokens = x.split('-')
        if len(tokens) == 2:
            return (float(tokens[0]) + float(tokens[1])) / 2
        return float(x)
    except:
        return None

df['total_sqft'] = df['total_sqft'].apply(convert_sqft_to_num)
df = df.dropna(subset=['total_sqft'])

Adding a new feature: price per sqft

In [63]:
df['price_per_sqft'] = df['price'] * 100000 / df['total_sqft']
df.head()

,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,4250.000000

## Data Cleaning & Feature Engineering

Let’s clean and simplify the location names to reduce noise.

In [64]:
df['location'] = df['location'].apply(lambda x: x.strip())
location_stats = df['location'].value_counts(ascending=False)
location_stats

location
Whitefield                                         514
Sarjapur  Road                                     372
Electronic City                                    302
Kanakpura Road                                     259
Thanisandra                                        233
                                                  ...
12th cross srinivas nagar banshankari 3rd stage      1
Tilak Nagar                                          1
Pattegarhpalya                                       1
Sarvobhogam Nagar                                    1
Prasanna layout Herohalli                            1
Name: count, Length: 1248, dtype: int64

There are a lot of unique location , let's group all rare locations into one category called "other".

In [65]:
location_stats_less_than_10 = location_stats[location_stats <= 10]
df['location'] = df['location'].apply(lambda x: 'other' if x in location_stats_less_than_10 else x)
len(df['location'].unique())

236

This reduces complexity and prevents overfitting.

Some listings show unrealistic area values (like 300 sqft per BHK). Let's Remove outliers by sqft per BHK.

In [66]:
df = df[~(df['total_sqft']/df['bhk'] < 300)]

Remove outliers using price_per_sqft

In [67]:
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft > (m - st)) & (subdf.price_per_sqft <= (m + st))]
        df_out = pd.concat([df_out, reduced_df], ignore_index=True)
    return df_out

df = remove_pps_outliers(df)

Fix “bath” anomalies

In [68]:
df = df[df['bath'] < df['bhk'] + 2]

Prepare final data for model training

In [69]:
df_model = df[['location','total_sqft','bath','bhk','price']]

# One-hot encode location
dummies = pd.get_dummies(df_model['location'])
df_model = pd.concat([df_model.drop('location', axis=1), dummies.drop('other', axis=1)], axis=1)

X = df_model.drop('price', axis=1)
y = df_model['price']

In [70]:
joblib.dump(X.columns.tolist(), "../src/model_columns.pkl")

['../src/model_columns.pkl']

In [72]:
# Save location list
locations = df['location'].unique().tolist()
joblib.dump(locations, "../src/location_list.pkl")

print("Locations saved:", len(locations))

Locations saved: 236

Train-test split

In [73]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [74]:
print(X_train.shape, X_test.shape)

(7816, 238) (1955, 238)

## Model Training & Evaluation

In [75]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
import xgboost as xgb
import numpy as np

Linear Regression model

In [76]:
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

y_pred_lr = lr_model.predict(X_test)

r2_lr = r2_score(y_test, y_pred_lr)
rmse_lr = np.sqrt(mean_squared_error(y_test, y_pred_lr))

print(f"Linear Regression R² Score: {r2_lr:.3f}")
print(f"Linear Regression RMSE: {rmse_lr:.3f}")

Linear Regression R² Score: 0.831
Linear Regression RMSE: 29.603

XGBoost model

In [77]:
xgb_model = xgb.XGBRegressor(
    n_estimators=200,
    learning_rate=0.1,
    max_depth=6,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42
)

xgb_model.fit(X_train, y_train)

y_pred_xgb = xgb_model.predict(X_test)

r2_xgb = r2_score(y_test, y_pred_xgb)
rmse_xgb = np.sqrt(mean_squared_error(y_test, y_pred_xgb))

print(f"XGBoost R² Score: {r2_xgb:.3f}")
print(f"XGBoost RMSE: {rmse_xgb:.3f}")

XGBoost R² Score: 0.827
XGBoost RMSE: 29.903

Compare the models

In [78]:
results = pd.DataFrame({
    'Model': ['Linear Regression', 'XGBoost'],
    'R2 Score': [r2_lr, r2_xgb],
    'RMSE': [rmse_lr, rmse_xgb]
})
results

               Model  R2 Score       RMSE
0  Linear Regression  0.830767  29.603207
1            XGBoost  0.827320  29.903190

For now , persist the trained XGBoost model for future predictions.

In [79]:
import joblib
joblib.dump(xgb_model, '../src/house_price_model.pkl')

['../src/house_price_model.pkl']

Test Prediction

In [80]:
def predict_price(location, sqft, bath, bhk):
    loc_index = np.where(X.columns == location)[0][0]
    
    x = np.zeros(len(X.columns))
    x[0] = sqft
    x[1] = bath
    x[2] = bhk
    if loc_index >= 0:
        x[loc_index] = 1

    return xgb_model.predict([x])[0]

print(predict_price('Indira Nagar', 2000, 3, 3))

156.57716

Hyperparameter Tuning to improve model performance.

In [81]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [2, 4, 6, 8],
    'learning_rate': [0.01, 0.05, 0.1, 0.2],
    'subsample': [0.8, 1.0],
    'colsample_bytree': [0.8, 1.0]
}

xgb_reg = xgb.XGBRegressor(random_state=42)

grid_search = GridSearchCV(
    estimator=xgb_reg,
    param_grid=param_grid,
    scoring='neg_root_mean_squared_error',
    cv=3,
    verbose=2,
    n_jobs=-1
)

grid_search.fit(X_train, y_train)

print("Best Parameters:", grid_search.best_params_)
print("Best RMSE:", -grid_search.best_score_)

Fitting 3 folds for each of 192 candidates, totalling 576 fits
Best Parameters: {'colsample_bytree': 0.8, 'learning_rate': 0.2, 'max_depth': 2, 'n_estimators': 300, 'subsample': 1.0}
Best RMSE: 38.33738784935156

In [82]:
best_xgb = grid_search.best_estimator_
y_pred_best = best_xgb.predict(X_test)
rmse_best = np.sqrt(mean_squared_error(y_test, y_pred_best))
print("Tuned XGBoost RMSE:", rmse_best)

Tuned XGBoost RMSE: 29.842672238691602

Save the best model

In [83]:
import joblib
joblib.dump(xgb_model, '../src/house_price_model.pkl')

['../src/house_price_model.pkl']

In [84]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['location'] = le.fit_transform(df['location'])

In [85]:
dict(zip(le.classes_, le.transform(le.classes_)))

{'1st Block Jayanagar': np.int64(0),
 '1st Phase JP Nagar': np.int64(1),
 '2nd Phase Judicial Layout': np.int64(2),
 '2nd Stage Nagarbhavi': np.int64(3),
 '5th Phase JP Nagar': np.int64(4),
 '6th Phase JP Nagar': np.int64(5),
 '7th Phase JP Nagar': np.int64(6),
 '8th Phase JP Nagar': np.int64(7),
 '9th Phase JP Nagar': np.int64(8),
 'AECS Layout': np.int64(9),
 'Abbigere': np.int64(10),
 'Akshaya Nagar': np.int64(11),
 'Ambalipura': np.int64(12),
 'Ambedkar Nagar': np.int64(13),
 'Amruthahalli': np.int64(14),
 'Anandapura': np.int64(15),
 'Ananth Nagar': np.int64(16),
 'Anekal': np.int64(17),
 'Anjanapura': np.int64(18),
 'Ardendale': np.int64(19),
 'Arekere': np.int64(20),
 'Attibele': np.int64(21),
 'BEML Layout': np.int64(22),
 'BTM 2nd Stage': np.int64(23),
 'BTM Layout': np.int64(24),
 'Babusapalaya': np.int64(25),
 'Badavala Nagar': np.int64(26),
 'Balagere': np.int64(27),
 'Banashankari': np.int64(28),
 'Banashankari Stage II': np.int64(29),
 'Banashankari Stage III': np.int64(30),
 'Banashankari Stage V': np.int64(31),
 'Banashankari Stage VI': np.int64(32),
 'Banaswadi': np.int64(33),
 'Banjara Layout': np.int64(34),
 'Bannerghatta': np.int64(35),
 'Bannerghatta Road': np.int64(36),
 'Basavangudi': np.int64(37),
 'Basaveshwara Nagar': np.int64(38),
 'Battarahalli': np.int64(39),
 'Begur': np.int64(40),
 'Begur Road': np.int64(41),
 'Bellandur': np.int64(42),
 'Benson Town': np.int64(43),
 'Bharathi Nagar': np.int64(44),
 'Bhoganhalli': np.int64(45),
 'Billekahalli': np.int64(46),
 'Binny Pete': np.int64(47),
 'Bisuvanahalli': np.int64(48),
 'Bommanahalli': np.int64(49),
 'Bommasandra': np.int64(50),
 'Bommasandra Industrial Area': np.int64(51),
 'Bommenahalli': np.int64(52),
 'Brookefield': np.int64(53),
 'Budigere': np.int64(54),
 'CV Raman Nagar': np.int64(55),
 'Chamrajpet': np.int64(56),
 'Chandapura': np.int64(57),
 'Channasandra': np.int64(58),
 'Chikka Tirupathi': np.int64(59),
 'Chikkabanavar': np.int64(60),
 'Chikkalasandra': np.int64(61),
 'Choodasandra': np.int64(62),
 'Cooke Town': np.int64(63),
 'Cox Town': np.int64(64),
 'Cunningham Road': np.int64(65),
 'Dasanapura': np.int64(66),
 'Dasarahalli': np.int64(67),
 'Devanahalli': np.int64(68),
 'Devarachikkanahalli': np.int64(69),
 'Dodda Nekkundi': np.int64(70),
 'Doddakallasandra': np.int64(71),
 'Doddathoguru': np.int64(72),
 'Domlur': np.int64(73),
 'Dommasandra': np.int64(74),
 'EPIP Zone': np.int64(75),
 'Electronic City': np.int64(76),
 'Electronic City Phase II': np.int64(77),
 'Electronics City Phase 1': np.int64(78),
 'Frazer Town': np.int64(79),
 'GM Palaya': np.int64(80),
 'Garudachar Palya': np.int64(81),
 'Giri Nagar': np.int64(82),
 'Gollarapalya Hosahalli': np.int64(83),
 'Gottigere': np.int64(84),
 'Green Glen Layout': np.int64(85),
 'Gubbalala': np.int64(86),
 'Gunjur': np.int64(87),
 'HBR Layout': np.int64(88),
 'HRBR Layout': np.int64(89),
 'HSR Layout': np.int64(90),
 'Haralur Road': np.int64(91),
 'Harlur': np.int64(92),
 'Hebbal': np.int64(93),
 'Hebbal Kempapura': np.int64(94),
 'Hegde Nagar': np.int64(95),
 'Hennur': np.int64(96),
 'Hennur Road': np.int64(97),
 'Hoodi': np.int64(98),
 'Horamavu Agara': np.int64(99),
 'Horamavu Banaswadi': np.int64(100),
 'Hormavu': np.int64(101),
 'Hosa Road': np.int64(102),
 'Hosakerehalli': np.int64(103),
 'Hoskote': np.int64(104),
 'Hosur Road': np.int64(105),
 'Hulimavu': np.int64(106),
 'ISRO Layout': np.int64(107),
 'ITPL': np.int64(108),
 'Iblur Village': np.int64(109),
 'Indira Nagar': np.int64(110),
 'JP Nagar': np.int64(111),
 'Jakkur': np.int64(112),
 'Jalahalli': np.int64(113),
 'Jalahalli East': np.int64(114),
 'Jigani': np.int64(115),
 'Judicial Layout': np.int64(116),
 'KR Puram': np.int64(117),
 'Kadubeesanahalli': np.int64(118),
 'Kadugodi': np.int64(119),
 'Kaggadasapura': np.int64(120),
 'Kaggalipura': np.int64(121),
 'Kaikondrahalli': np.int64(122),
 'Kalena Agrahara': np.int64(123),
 'Kalyan nagar': np.int64(124),
 'Kambipura': np.int64(125),
 'Kammanahalli': np.int64(126),
 'Kammasandra': np.int64(127),
 'Kanakapura': np.int64(128),
 'Kanakpura Road': np.int64(129),
 'Kannamangala': np.int64(130),
 'Karuna Nagar': np.int64(131),
 'Kasavanhalli': np.int64(132),
 'Kasturi Nagar': np.int64(133),
 'Kathriguppe': np.int64(134),
 'Kaval Byrasandra': np.int64(135),
 'Kenchenahalli': np.int64(136),
 'Kengeri': np.int64(137),
 'Kengeri Satellite Town': np.int64(138),
 'Kereguddadahalli': np.int64(139),
 'Kodichikkanahalli': np.int64(140),
 'Kodigehaali': np.int64(141),
 'Kodihalli': np.int64(142),
 'Kogilu': np.int64(143),
 'Konanakunte': np.int64(144),
 'Koramangala': np.int64(145),
 'Kothannur': np.int64(146),
 'Kothanur': np.int64(147),
 'Kudlu': np.int64(148),
 'Kudlu Gate': np.int64(149),
 'Kumaraswami Layout': np.int64(150),
 'Kundalahalli': np.int64(151),
 'LB Shastri Nagar': np.int64(152),
 'Laggere': np.int64(153),
 'Lakshminarayana Pura': np.int64(154),
 'Lingadheeranahalli': np.int64(155),
 'Magadi Road': np.int64(156),
 'Mahadevpura': np.int64(157),
 'Mahalakshmi Layout': np.int64(158),
 'Mallasandra': np.int64(159),
 'Malleshpalya': np.int64(160),
 'Malleshwaram': np.int64(161),
 'Marathahalli': np.int64(162),
 'Margondanahalli': np.int64(163),
 'Marsur': np.int64(164),
 'Mico Layout': np.int64(165),
 'Munnekollal': np.int64(166),
 'Murugeshpalya': np.int64(167),
 'Mysore Road': np.int64(168),
 'NGR Layout': np.int64(169),
 'NRI Layout': np.int64(170),
 'Nagarbhavi': np.int64(171),
 'Nagasandra': np.int64(172),
 'Nagavara': np.int64(173),
 'Nagavarapalya': np.int64(174),
 'Narayanapura': np.int64(175),
 'Neeladri Nagar': np.int64(176),
 'OMBR Layout': np.int64(177),
 'Old Airport Road': np.int64(178),
 'Old Madras Road': np.int64(179),
 'Padmanabhanagar': np.int64(180),
 'Pai Layout': np.int64(181),
 'Panathur': np.int64(182),
 'Parappana Agrahara': np.int64(183),
 'Pattandur Agrahara': np.int64(184),
 'Poorna Pragna Layout': np.int64(185),
 'Prithvi Layout': np.int64(186),
 'R.T. Nagar': np.int64(187),
 'Rachenahalli': np.int64(188),
 'Raja Rajeshwari Nagar': np.int64(189),
 'Rajaji Nagar': np.int64(190),
 'Rajiv Nagar': np.int64(191),
 'Ramagondanahalli': np.int64(192),
 'Ramamurthy Nagar': np.int64(193),
 'Rayasandra': np.int64(194),
 'Sahakara Nagar': np.int64(195),
 'Sanjay nagar': np.int64(196),
 'Sarakki Nagar': np.int64(197),
 'Sarjapur': np.int64(198),
 'Sarjapur  Road': np.int64(199),
 'Sarjapura - Attibele Road': np.int64(200),
 'Sector 2 HSR Layout': np.int64(201),
 'Sector 7 HSR Layout': np.int64(202),
 'Seegehalli': np.int64(203),
 'Shampura': np.int64(204),
 'Shivaji Nagar': np.int64(205),
 'Singasandra': np.int64(206),
 'Somasundara Palya': np.int64(207),
 'Sompura': np.int64(208),
 'Sonnenahalli': np.int64(209),
 'Subramanyapura': np.int64(210),
 'Sultan Palaya': np.int64(211),
 'TC Palaya': np.int64(212),
 'Talaghattapura': np.int64(213),
 'Thanisandra': np.int64(214),
 'Thigalarapalya': np.int64(215),
 'Thubarahalli': np.int64(216),
 'Tindlu': np.int64(217),
 'Tumkur Road': np.int64(218),
 'Ulsoor': np.int64(219),
 'Uttarahalli': np.int64(220),
 'Varthur': np.int64(221),
 'Varthur Road': np.int64(222),
 'Vasanthapura': np.int64(223),
 'Vidyaranyapura': np.int64(224),
 'Vijayanagar': np.int64(225),
 'Vishveshwarya Layout': np.int64(226),
 'Vishwapriya Layout': np.int64(227),
 'Vittasandra': np.int64(228),
 'Whitefield': np.int64(229),
 'Yelachenahalli': np.int64(230),
 'Yelahanka': np.int64(231),
 'Yelahanka New Town': np.int64(232),
 'Yelenahalli': np.int64(233),
 'Yeshwanthpur': np.int64(234),
 'other': np.int64(235)}